@import url(./header.css);
@import url(./indroduction.css);
@import url(./about_me.css);
@import url(./skills.css);
@import url(./professional_experience.css);
@import url(./footer.css);
@import url(./contact.css);

html {
    box-sizing: border-box;
    font-family:monospace;
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
    transition: transform 0.5s;
}
a:hover{
    transform: scale(1.1);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}